body {
    background: url("./public/imgs/traditionalVietnameseTet.png") no-repeat center center / cover;
}

h2 {
    display: flex;
    margin: 50px auto;
    width: 50%;
    justify-content: center;
    font-size: 64px;
    color: blue;
    text-align: center;
}